.App {
  background-color: #282c34;
}

.App-logo {
  height: 5vmin;
  margin-left: 2%;
  margin-bottom: 2%;
  margin-top: 2%;
  pointer-events: none;
}

.App-main {
  width: 100%;
  content: url("./누가파스타를훔쳐먹었는가.png");
}

@media (max-width: 768px) {
  .App-main {
    content: url("./main_mobile.png");
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
